.contact {
  //---------------
  //全体
  //---------------
  .content_wrap {
    width: min(88%, 1400px);
    margin-inline: auto;
    margin-top: 180px;
  }

  //---------------
  //MV
  //---------------
  .mv {
    &_content {
      width: min(88%, 1400px);
      margin-inline: auto;
      margin-top: 150px;

      h1 {
        font-family: var(--f-primary-en);
        font-size: clampVw(30, 48, 48, 900);
        font-weight: 400;
        letter-spacing: 1rem;
        position: relative;
        z-index: 2;
        text-align: center;
        margin-top: 40px;
      }

      img {
        margin-inline: auto;
      }
    }
  }

  @include mq(tb) {
    .mv {
      &_content {
        margin-top: 80px;

        h1 {
          font-size: 28px;
        }

        img {
          width: 70px;
          height: auto;
        }
      }
    }
  }
}
