.contact {
  .content_wrap {
    width: min(88%, 1400px);
    margin-inline: auto;
    margin-top: 180px;
  }

  //---------------
  //MV
  //---------------
  .mv {
    &_content {
      width: min(88%, 1400px);
      margin-inline: auto;
      margin-top: 150px;

      h1 {
        font-family: var(--f-primary-en);
        font-size: clampVw(30, 48, 48, 900);
        font-weight: 400;
        letter-spacing: 1rem;
        position: relative;
        z-index: 2;
        text-align: center;
        margin-top: 40px;
      }

      img {
        margin-inline: auto;
      }
    }
  }

  @include mq(tb) {
    .mv {
      &_content {
        margin-top: 80px;

        h1 {
          font-size: 28px;
        }

        img {
          width: 70px;
          height: auto;
        }
      }
    }
  }
  &.thanks {
    .thanks_content {
      p {
        text-align: center;
        line-height: 2em;
      }
      a {
        display: block;
        margin-top: clampVw(90, 180, 180, 1920);
        margin-inline: auto;
        padding: 18px 0;
        width: 218px;
        text-align: center;
        color: var(--c-base);
        background-color: var(--c-black);
        border-radius: 40px;
        font-size: 20px;
        letter-spacing: 2px;
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
