//TOPメインコンテンツのCSS
.top {
  @keyframes rotateRight {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes rotateLeft {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes underlineGrow {
    from {
      width: 0;
    }
    to {
      width: 50px;
    }
  }
  //セクションタイトル
  .top_sectionTitle {
    font-family: var(--f-primary-en);
    color: var(--c-black);
    font-weight: 400;
    font-size: clampVw(30, 48, 48, 1250);
    letter-spacing: 0.7rem;
    display: inline;
    position: relative;

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--c-black);
      display: block;
      position: absolute;
      right: -36px;
      top: 50%;
      transform: translateY(-50%);
    }

    span {
      display: inline-block;
    }

    @include mq(tb) {
      letter-spacing: 0.5rem;

      &::after {
        width: 6px;
        height: 6px;
        right: -25px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  //MVのCSS
  .mv {
    height: 100vh;
    z-index: 1;

    &_content {
      width: min(88%, 1400px);
      margin-inline: auto;

      &_title {
        padding-top: 40vh;

        h1 {
          font-family: var(--f-primary-en);
          font-size: clampVw(32, 56, 56, 900);
          font-weight: 400;
          letter-spacing: 1rem;
          position: relative;
          z-index: 2;

          span {
            display: inline-block;
          }

          &::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background-color: var(--c-black);
            position: absolute;
            bottom: -6vh;
            animation: underlineGrow 0.5s ease-out 0.3s forwards;
          }
        }

        p {
          font-family: var(--f-primary-en);
          font-size: clampVw(14, 24, 24, 900);
          font-weight: 400;
          letter-spacing: 0.5rem;
          padding-top: 10vh;

          span {
            display: inline-block;
          }
        }
      }

      &_illust {
        width: 50%;
        height: 100svh;
        position: fixed;
        right: 0;
        top: 0;

        img {
          position: absolute;
          z-index: 1;
        }

        .mv_illust_flower1 {
          width: clampVw(130, 236, 326, 1440);
          top: 15%;
          right: 46%;
          animation: rotateRight 20s linear infinite;
        }
        .mv_illust_flower2 {
          width: clampVw(120, 226, 310, 1440);
          top: 36%;
          right: 10%;
          animation: shake 3.5s ease-out infinite;
        }
        .mv_illust_flower3 {
          width: clampVw(130, 244, 341, 1440);
          top: 56%;
          right: 38%;
          animation: rotateLeft 30s linear infinite;
        }
      }
    }
  }

  @include mq(tb) {
    .mv {
      &_content {
        &_title {
          padding-top: 75vh;

          h1 {
            letter-spacing: 0.6rem;

            &::after {
              height: 1px;
              bottom: -4vh;
            }
          }

          p {
            letter-spacing: 0.3rem;
            padding-top: 7vh;
          }
        }

        &_illust {
          width: 100%;

          .mv_illust_flower1 {
            top: 8%;
            left: 20%;
          }
          .mv_illust_flower2 {
            top: 25%;
            right: 5%;
          }
          .mv_illust_flower3 {
            top: 38%;
            right: 38%;
          }
        }
      }
    }
  }

  //ABOUTのCSS
  .about {
    margin-bottom: 50px;
    z-index: 2;

    &_content {
      width: min(88%, 1400px);
      margin-inline: auto;
      margin-inline: auto;
      padding-top: clampVw(100, 216, 322, 1440);
      padding-bottom: 238px;

      &_desc {
        max-width: 55%;

        p {
          font-family: var(--f-primary);
          color: var(--c-black);
          font-weight: 400;
          font-size: clampVw(14, 16, 16, 1920);
          letter-spacing: 0.05em;
          line-height: 2.4;
          margin: 112px 0;
          position: relative;
          z-index: 2;
        }
      }

      &_img {
        max-width: 450px;

        img {
          border-radius: 500px;
          box-shadow: 2px 2px 10px #565c4d;
        }
      }
    }
  }

  @include mq(tb) {
    .about {
      &_content {
        padding-bottom: 70px;
        margin-top: 116px;
        &_desc {
          max-width: 100%;
          p {
            line-height: 2;
            margin-top: 25vh;
            margin-bottom: 50px;
            position: relative;
            z-index: 2;
          }
        }

        &_img {
          max-width: 450px;

          img {
            border-radius: 500px;
            box-shadow: 2px 2px 10px #565c4d;
          }
        }
      }
    }
  }

  //WORKSのCSS
  .works {
    position: relative;
    padding-top: clampVw(100, 216, 322, 1440);
    padding-bottom: clampVw(200, 322, 322, 1440);
    background: var(--c-background2);
    border-radius: 178px 178px 0px 0px;
    z-index: 3;

    &_content {
      width: min(88%, 1400px);
      margin-inline: auto;

      .works_ttl_area {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
      }
    }

    .works_img_star1 {
      position: absolute;
      width: clampVw(89, 129, 139, 1440);
      top: 45%;
      right: 5%;
      animation: shake 3.5s ease-out infinite;
    }
    .works_img_star2 {
      position: absolute;
      width: clampVw(108, 139, 149, 1440);
      bottom: 8.5%;
      left: 5%;
      animation: shake 3.5s ease-out infinite;
    }
  }

  @include mq(tb) {
    .works {
      border-radius: 80px 80px 0px 0px;

      &_content .works_article_clm2,
      .works_article_clm3 {
        display: block !important;
        margin-top: 0;
      }

      article {
        margin-bottom: 50px;

        .article_img_area {
          .arrow_blk {
            width: 40px;
            height: 40px;
            right: 14px;
            bottom: 14px;
          }
        }

        .article_desc {
          &_tag {
            p {
              padding: 3px 10px;
              font-size: 12px;
              font-weight: 400;
              letter-spacing: 0.1em;
            }
          }

          &_ttl {
            font-size: 18px;
            letter-spacing: 0.1em;
            margin: 0 0 10px 0;
            line-height: 50px;
          }

          &_list {
            .item {
              column-gap: 8px;
              margin-bottom: 6px;
            }
          }
        }
      }

      &_img_star1 {
        top: 2% !important;
        right: 5%;
      }
      &_img_star2 {
        bottom: 4% !important;
        left: auto !important;
        right: 10% !important;
      }
    }
  }
}
