.content_wrap {
  width: min(88%, 1400px);
  margin-inline: auto;
}
//---------------
//カテゴリ
//---------------
.category {
  &_content {
    display: flex;
    align-items: flex-start;
    font-family: var(--f-sub-en);
    font-size: 12px;
    padding-bottom: 20px;
    border-bottom: solid 1px var(--c-black);

    &_ttl {
      position: relative;
      display: flex;
      align-items: center;
      padding-top: 2px;

      span {
        content: "";
        display: inline-block;
        width: 3px;
        height: 3px;
        aspect-ratio: 1/1;
        background-color: var(--c-black);
        border-radius: 3px;
        margin-top: 1px;
        margin-right: 10px;
      }
    }
    .category_item_wrap {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-left: 32px;
      flex-wrap: wrap;

      .category_item {
        padding: 2px 13px;
        border: solid 1px var(--c-black);
        border-radius: 15px;
        letter-spacing: 0.5px;

        &.active {
          background-color: var(--c-black);
          color: var(--c-base);
        }
      }
    }
  }
}

//---------------
//一覧
//---------------
.list {
  &_content {
    padding-bottom: 164px;
    border-bottom: solid 1px var(--c-black);
    article {
      a {
        &:hover {
          .arrow_blk {
            transform: scale(1.1);
          }
          .article_img {
            transform: scale(1.05);
          }
        }
      }
      .article_img_area {
        position: relative;
        border-radius: clampVw(15, 30, 30, 1920);
        overflow: hidden;

        .article_img {
          width: 100%;
          aspect-ratio: 455 / 252;
          object-fit: cover;
          transition: transform 0.4s ease;
        }

        .arrow_blk {
          width: clampVw(32, 48, 48, 1920);
          height: clampVw(32, 48, 48, 1920);
          background-color: var(--c-base);
          border-radius: 50%;
          opacity: 0.9;
          box-shadow: 1px 1px 3px #999;
          position: absolute;
          right: 16px;
          bottom: 16px;
          transition: transform 0.4s ease;

          img {
            width: clampVw(12, 16, 16, 1920);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .article_desc {
        margin-top: clampVw(18, 33, 33, 1920);
        padding: 0 10px;

        &_category {
          border: 1px solid var(--c-black);
          border-radius: 15px;
          display: inline-block;
          p {
            padding: 2px 13px;
            font-size: 12px;
            font-family: var(--f-sub-en);
            letter-spacing: 0.5px;
          }
        }

        &_ttl {
          font-size: 20px;
          letter-spacing: 0.1em;
          margin: 0 0 18px 0;
          line-height: 50px;
          border-bottom: solid 1px var(--c-black);
        }

        &_list {
          .item {
            display: flex;
            align-items: center;
            column-gap: 10px;
            margin-bottom: 10px;
          }
          dt {
            font-size: 12px;
            font-family: var(--f-sub-en);
            font-weight: 600;
            letter-spacing: 0.15em;
            color: var(--c-orange);
            width: 60px;
          }
          dd {
            font-family: var(--f-primary);
            color: var(--c-black);
          }
        }
      }
    }

    .works_article_clm3 {
      display: flex;
      flex-wrap: wrap;
      margin-top: clampVw(48, 86, 86, 1920);

      @include mq(n, tb) {
        gap: clampVw(48, 86, 86, 1920) pct(24, 1400);
      }

      @include mq(tb) {
        row-gap: 50px;
      }

      article {
        &:not(:first-of-type) {
          @include mq(tb) {
            margin-top: 50px;
          }
        }

        @include mq(n, tb) {
          width: pct(450, 1400);
        }
      }
    }
  }
}

@include mq(tb) {
  .category {
    &_content {
      span {
        margin-right: 6px;
      }
      .category_item_wrap {
        margin-left: 16px;
        gap: 6px;
        .category_item {
          padding: 2px 10px;
        }
      }
    }
  }
  .list {
    &_content {
      padding-bottom: 16px;
      .works_article_clm3 {
        display: block !important;
        margin-top: 40px;
      }

      article {
        .article_img_area {
          .arrow_blk {
            width: 40px;
            height: 40px;
            right: 14px;
            bottom: 14px;
          }
        }

        .article_desc {
          &_tag {
            p {
              padding: 3px 10px;
              font-size: 12px;
              font-weight: 400;
              letter-spacing: 0.1em;
            }
          }

          &_ttl {
            font-size: 18px;
            letter-spacing: 0.1em;
            margin: 0 0 10px 0;
            line-height: 50px;
          }

          &_list {
            .item {
              column-gap: 8px;
              margin-bottom: 6px;
            }
          }
        }
      }
    }
  }
}
