:root {
  --c-black: #4e4e4e;
  --c-background1: #d5dec3;
  --c-background2: #a7abd4;
  --c-base: #eaeaea;

  --f-primary: "Sawarabi Gothic", sans-serif;
  --f-primary-en: "Lexend Giga", sans-serif;
  --f-sub-en: "Urbanist", sans-serif;
}
